.notification_wrapper{
    position: absolute;
    top: 45px;
    right: 55px;
    min-width: 350px;
    max-width: 450px;
    min-height: 60px;
    height: max-content;
   background-color: #fbfbfb;
   box-shadow: 0px 0px 0px 1px rgba(254, 254, 254, 0.84);
   padding: 5px;
   max-height: 100vh;
   max-height: 100dvb;
   overflow-y: auto;
   z-index: 1000;
}

:root.dark .notification_wrapper{
    background-color: rgba(20, 19, 19, 0.974);
   box-shadow: 0px 0px 0px 1px rgba(7, 7, 7, 0.84);


}

.notifications{
    display: flex;
    flex-direction: column;
    gap: 6px;
    row-gap: 15px;
    justify-content: center;
    align-items: start;
    padding: 4px;
}

.notification{
    border: .3px solid var(--text-color);
    padding: 4px;
    border-radius: 4px;
    color: lightskyblue;
}

.notification.unread p{
    color: skyblue;
}

.notification.read p{
    color: var(--text-color);
}


.notification.read{
   color: var(--text-color);
}


@media (max-width: 400px) {
    .notification_wrapper{
        min-width: 80vw;
        max-width: max-content;
        right: 15px;
    }
    
}

.new{
    padding: 4px;
    color: white;
    background-color: rgb(29, 123, 29);
}