.notification_wrapper{
    position: absolute;
    top: 45px;
    right: 55px;
    min-width: 350px;
    max-width: 450px;
    min-height: 60px;
    height: max-content;
   background-color: #fbfbfb;
   box-shadow: 0px 0px 0px 1px rgba(173, 164, 164, 0.84);
   border-radius: 4px;
   padding: 5px;
   max-height: 100vh;
   max-height: 100dvb;
   overflow-y: auto;
   z-index: 1000;
   /* top: -100vh;
   visibility: hidden; */
}

/* .notification_wrapper.open{
    top: 45px;
    visibility: visible;
} */

:root.dark .notification_wrapper{
    background-color: rgba(43, 35, 35, 0.974);
   box-shadow: 0px 0px 0px 1px rgba(153, 108, 108, 0.84);
}

.notifications{
    display: flex;
    flex-direction: column;
    gap: 6px;
    row-gap: 15px;
    justify-content: center;
    align-items: start;
    padding: 4px;
}

.notification{
    border-bottom: 2px solid var(--text-color);
    padding: 4px;
    border-radius: 4px;
    color: lightskyblue;
}

.notification.unread p{
    color: skyblue;
}

.notification.read p{
    color: var(--text-color);
}


.notification.read{
   color: var(--text-color);
}


@media (max-width: 400px) {
    .notification_wrapper{
        min-width: 80vw;
        max-width: max-content;
        right: 15px;
    }
    
}

@media (max-width: 300px) {
    .notification_wrapper{
        min-width: 90vw;
        max-width: max-content;
        right: 8px;
    }
    
}

@media (max-width: 200px) {
    .notification_wrapper{
        min-width: 96vw;
        max-width: max-content;
        right: 5px;
    }
    
}

.new{
    padding: 4px;
    color: white;
    background-color: rgb(29, 123, 29);
}


.flex_column{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
}