.sidebar-wrapper{
    background-color: var(--elements-bg);
    color: var(--text-color);
    height: 100vh;
    width: 260px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    margin-left: -260px;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-shrink: 0;
}
.sidebar-wrapper.active{
    margin-left: 0;
}

.infor-wrapper{
    flex-grow: 0;
   padding: auto;
   padding-top: 10px;
   padding-bottom: 10px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border-bottom: 1px solid var(--text-color);
}
.dashbordtitle{
    opacity: .9;
    margin: auto;
    color: var(--text-color);
}

.links-ul-wrapper{
    min-width: 130px;
    text-align: center;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}
.admin-links{
    align-self: baseline;
    margin-bottom: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    row-gap: 17px;
    width: 100%;
    margin: 30px auto auto 20px;
}
button{
    cursor: pointer !important;
}
.toggle-btn{
    color: black;
    font-size: 26px;
    background-color: #c0bcbc;
    padding: 1px 3px;
    outline: none;
    border: none;
    position: absolute;
    right: 105px;
}

.sidebar-wrapper.active .toggle-btn{
    right: 5px;
}

li{
    list-style: none;
    list-style-type: none;
}
li,a,button{
    color: var(--text-color) !important;
}
 .logout-btn{
    min-width: 65px !important;
    min-height: 10px !important;
    height: auto;
    width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  border-radius: 5px;
  border: none;
  font-family: serif;
  align-self: flex-start;
  background-color: lightgray;
 }


.bottom-elem{
    flex-grow: 0;
    margin-top: auto;
    height: auto;
    width: 100%;
    border-top: 1px solid var(--text-color);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: -5px;
    text-align: center;
}