.nav_search_container {
    width: 350px ;
    position: relative ;
    background: #fff ;
    border: 1px solid #fff ;
    border-radius: 10px ;
    display: flex;
}

.nav_search_container .input_search{
    width: 90% ;
     padding: 10px ;
    border-radius: 10px ;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--text-color) ;
    padding-right:45px ;
    transform: scale(1);

}


.nav_search_container .search_btn{
    position: absolute !important;
    right: -1px !important; 
    width: 40px !important;
    height: 100% !important;
    /* border:1px solid #333 !important; */
    transform: scale(1, 1.06);
    border: 1px solid var(--text-color);
}

.input_search:focus-within{
    border: 1px solid seagreen;
}
