


.blogs-landing{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 15px;
    padding: 20px 60px;
    text-align: center;
    place-content: start center;
}
.blogs-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 5px 10px;
    /* background-color: #fff; */
    text-align: center;
    place-content: start start;
}

.pagination-wrapper{
    margin: 10px auto;
    padding:10px 6px;
    text-align: center;
    /* color: var(--text-color); */
    color: #333 !important;
    font-size: 1.2rem;
    background-color: var(---elements-bg);
    margin-top: 30px;
    width: max-content;
    border-radius: 10px;
    border: 1px solid var(--text-color);
}
@media (max-width: 870px) {
.blogs-landing{
    padding: 10px 6px;
}
}
@media (max-width: 700px) {
    .blogs-landing{
        /* padding: 10px; */
    margin: 5px auto;

    }

    .blogs-wrapper{
        margin: 4px auto;
    }
}


@media (max-width: 500px) {
    .blogs-wrapper{
        margin: 4px auto;
    }
}


/* button animation css */
#animation_btn{
    height: 40px;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    width: auto;
    max-width: 200px;
    position: relative;
    isolation: isolate;
    border: 2px solid #198c1d;

}

#animation_btn::after{
    content: '';
    position: absolute;
    /* height: 40px; */
    inset: 0;
    scale: 0 1;
    background-color: #198c1d;
    /* transition-property: scale; */
    transition: scale all 450ms;
    transition-property: scale;
    transition-duration: 450ms;
    transition-timing-function: ease;
    transform-origin: right;
    transform-style: flat;
    z-index: -1;
}
#animation_btn:hover::after,
#animation_btn:focus-visible::after{
    scale: 1 1;
    transform-origin: left;
}