

.main_wrapper{
    justify-self: stretch;
     align-self: stretch;
     width: 100vw;
     padding: 0px 6px;
}
.main_error, .success_msg{
    padding: 8px 6px;
    border-radius: 7px;
    color: white;
    width: max-content;
    min-width: 400px;
    max-width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main_error{
    background-color: #914343;
}
.success_msg{
    background-color: #057103;
    
}

.success_msg, span:last-child{
    cursor: pointer;
}

.profile_wraper{
    background-color: var(--elements-bg);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    margin: 20px auto 10px auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding: 30px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 3px;
    width: 100%;
}

.profile_form{
    margin-left: 0px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto minmax(300px, 500px);
    justify-content: start;
    align-items: end;
    gap: 20px;
    width: auto;
}
.btn_toggle{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-self: auto;
    align-self: baseline;
    margin-left: auto;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 3px;
    font-size: large;
    color: #333 !important;
}

.textInput{
    min-width: 270px;
}

.pic_wrapper{
    grid-row: 2/3;
    height: 280px;
    aspect-ratio: 1.2;
    background-color: #cfddb9a9;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    border-radius: 10px;
    /* align-items: end;
    align-content: end; */
    justify-content: center;
    justify-items: center;
    
}

.profile_picture, .fake_profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: end;
    margin-right: 2px;
    align-self: flex-end;
    align-content: end;
    display: grid;
    align-items: end;
    margin-top: auto;
}

.fake_profile{
    justify-self: center;
    margin-top: auto;
    background-color: #c6c3c3;
    line-height: 200px;
}

.profile_changer_div{
    grid-column: 2/3;
    align-self: self-end;
    text-align: end;
    margin-bottom: 0px;
    margin-top: auto;
    display: grid;
    align-items: end;
    justify-self: start;
}

.profile_changer_div>p, .input_container>p{
    grid-column: 1/-1;
    grid-row: 3/-1;
    text-align: start;
    color: #de2929;
    font-size: 1rem;
}
.profile_changer_div>label{
    line-height: 90px;
    width: 90px;
    aspect-ratio: 1;
    background-color: #c6c3c3;
    border: 1px solid #3336;
    margin-top: auto;
    /* margin-bottom: -13px; */
    color: white;
    text-align: center;
    align-self: end;
    justify-self: end;
    border-radius: 4px;
}

.other_inputs_wrapper{
    margin-top: 50px;
    grid-column: 2/-1;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-self: left;
   margin-left: 20px;
    align-content: start;
    gap: 15px;

}

.input_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    /* justify-content: start;
    align-content: flex-start;
    align-items: baseline; */
}

label{
    font-weight: 400;
    text-transform: capitalize;
    color: var(--text-color);
    margin-left: 0px;
    margin-right: auto;
}
.input_container>input{
    min-width: 200px;
    max-width: 300px;
    max-height: 50px;
    width: auto;
    padding: 8px 5px;
    font-size: .8rem;
    border-radius: 4px;
    outline: none;
    border: 1px solid #3336;
}
h3{
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: start;
    margin-top: -2px;
}

.submit_wrapper{
    grid-column: 1/-1;
    margin-top: 20px;
    text-align: end;
}
.submit_wrapper>button{
  padding: 8px 80px;
  background-color: #067384;
  color: white !important;
  border-radius: 4px;
  font-size: 1.3rem;
  min-width: 200px;
  max-width: 300px;
  text-transform: capitalize;
}
@media (max-width:875px) {

.profile_wraper{
    margin: 30px auto;
    
}
}

@media (max-width:1002px) {

.profile_form{
    
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
}

.pic_wrapper{
    grid-row: 1/2;
    grid-column: 1/2;
}
.other_inputs_wrapper{
    grid-row: 2/-1;
    grid-column: 1/-1;
}

.btn_toggle{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: baseline;
    place-content: start;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: auto;

}

}

@media (max-width:553px) {
    .other_inputs_wrapper{
        margin-top: 40px;
        grid-template-columns: 1fr;
        justify-content: stretch;
    }
   .input_container{
    width: 90vw ;
    justify-content: center;
   }
    .submit_wrapper{
        text-align: start;
        width: 80vw;
    }
    .pic_wrapper{
        grid-template-columns: repeat(2, auto);
        column-gap: 10px;
    }
    .fake_profile, .profile_picture{
        width: 47vw;
    }
    .btn_toggle{
        grid-row: 1/2;
        grid-column: 1/2;
    }
}

@media (max-width: 490px) {
    .btn_toggle{
        grid-column: 1/2;
        
    }
    .pic_wrapper{
        margin-top: 50px;
        width: 97vw;
    }
    
}

@media (max-width:391px) {
    .pic_wrapper{
        width: 95vw;
    }

    .input_container>input{
      width: 95vw;  
    }
}