.blog-card-wrapper{
    width: 350px;
    height: auto;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 5px;
    background-color: var(--card-bg);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px -10px;
    font-family: serif;
    font-family: futura;
    transition:  0.5s all ease-in-out;
    overflow: hidden;
    transform: translateX(-100vw);
    opacity: 0;
    transform: scale(1);
    transition-delay: .5s;
    transition-duration: .5s;
    transform: translateY(0);
    transition-property: transform;
    transition-property: box-shadow;
    transition-property: opacity;
    transform-origin: bottom;
    align-self: center;
    
}

.blog-card-wrapper.visible{
 transform: translateX(0);
    opacity: 1;
}

.blog-card-wrapper:hover{
        box-shadow: 0px 0px 96px 19px rgba(0,0,0,0.1);
    transform: scale(1.05, 1);
    transform: translateY(-10px);

}
.image_wrapper{
    width: 100%;
    height: 160px;
    overflow: hidden;
   
}
.blog_card_img{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    transform: scale(1);
    transition: .6s all ease-in-out;
    transition-property: transform;

}
.blog-card-wrapper:hover .blog_card_img{
    transform: scale(1.1, 1.6);

}


.blog-title{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: start;
    color: var(--text-color);
}

.blog-link>.blog-title{
    font-size: 1.5rem;
}

.blog-title::first-letter{
    text-transform: capitalize;
}

.content{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 15px;
     padding: 10px;
     margin-top: auto;
     margin-bottom: 0px;
}

.blog-card-wrapper:hover .content{
box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1), 2px 0px 12px 0px rgba(0,0,0,0.1);
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    text-align: start;
}
.tag{
    padding: 3px 4px;
    font-size: 1rem;
     background-color: #edebeb;
     box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.09); 
     text-decoration: none;
     color: #334 !important;
     position: relative;
     border-radius: 3px;
     transition-property: underline;
     transition-property: transform;
     transform: scale(1,1);
     transition: 0.5s all ease-in-out;
}
 
.tag::after{
    content: '';
    display: block;
    height: .7px;
    background-color: #3eb44e;
    width: 0%;
    margin-top: -1px;
    transition:  455ms all ease-in-out;
    transition-property: width;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform-origin: left;
}

.tag:hover::after,
.tag:focus-visible::after{
    width: 100%;
    transform-origin: right;
}
.tag:hover{
    transform: scale(1.1, 1);
}

.blog_posted_date{
    text-align: start;
    font-size: 1.2rem;
    color: var(--text-color);
}

.blog_posted_date::after{
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background-color: #04708e;
    border-radius: 1px;
    /* margin-top: 1px; */
}

.blog-link{
    padding: 3px 0px;
   color: var(--text-color);
   position: relative;
   width: auto;
}
.blog-link:hover{
    color: #0e4686;
}


.blog-link span {
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 0%;
  /* scale: 0 1; */
  height: 2px;
  background-color: var(--text-color);
  transition: width 0.2s ease;
  transition-property: width;
  z-index: -1;
  transform-origin: left;
}

.blog-link:hover span {
  scale: 1 1;
  width: 90%;
  transform-origin: right;

}

.blog-link:hover span::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 97%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 24px;
  border-color: transparent transparent transparent var(--text-color);
  z-index: 1;
}


@media (max-width: 760px) {
    .blog-card-wrapper{
        width: 280px;
    }
}
@media (max-width: 616px) {
    .blog-card-wrapper{
        width: 240px;
    }
}
@media (max-width: 537px) {
    
    .blog-card-wrapper{
        width: 200px;
    }
}
@media (max-width:448px) {
    .blog-card-wrapper{
        width: 300px;
    }
}
@media (max-width: 375px) {
    .blog-card-wrapper{
        width: 260px;
    }
    .tags{
        gap: 1px;
        flex-wrap: wrap;
    }
    .tag{
        font-size: .8rem
    }
}

@media (max-width:260px) {
    .blog-card-wrapper{
        width: 95%;
    }
}



