.blog-card-wrapper{
    width: 350px;
    height: auto;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 5px;
    background-color: var(--card-bg);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px -10px;
    font-family: serif;
    font-family: futura;
    transition: box-shadow 0.7ms all ease,transform 0.7ms all ease;
    transform: translateY(0);
    transform: scale(1);
    /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
}

.blog-card-wrapper:hover{
        box-shadow: 0px 0px 96px 19px rgba(0,0,0,0.1);
    transform: translateY(-20px);
    transform: scale(1.05);


}
.blog-card-wrapper>img{
    width: 100%;
    text-align: center;
    margin: auto;
    height: 150px;
    object-fit: cover;
}

.blog-title{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: start;
    color: var(--text-color);
    /* position: sticky;
    top: 5px; */
}
.blog-title::first-letter{
    text-transform: capitalize;
}
.profile-wrapper{
    display: flex;
    flex-direction: row;
    gap: 7px;
    /* max-height: 60px; */
    height: auto;
    justify-content: baseline;
    align-items: stretch;
    height: auto;
    /* background-color: lightcoral; */
    align-items: center;
    justify-content: left;
    margin-right: auto;
    margin-bottom: -3px;
}
.author-identifier {
    width: 100%;
    text-align: start;
    margin-bottom: -14px;
    font-weight: 200;
}
.profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile-wrapper>div{
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: start;
    align-items: start;
}
.profile-wrapper div>h4{
    font-size: .9rem;
    font-weight: 500;
}
.profile-wrapper div>small{
    font-size: .8rem;
}

.content{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 15px;
     padding: 10px;
}

.blog-card-wrapper:hover .content{
box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1), 2px 0px 12px 0px rgba(0,0,0,0.1);
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    text-align: start;
}
.tag{
    padding: 3px 4px;
    font-size: 1rem;
     background-color: #edebeb;
     box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.09); 
     text-decoration: none;
     /* color: var(--tag-color); */
     color: #334;
     position: relative;
     border-radius: 3px;
}
/* 
.tag::after{
    content: '';
    display: block;
    height: 2px;
    background-color: #b43e3e;
    width: 0%;
    transition: width 0.6s all ease-in-out;
}
.tag:hover::after{
    width: 100%;
}

.tag::before{
    content: '';
    display: block;
    position: absolute;
    border-width: 4px 0px 4px 10px;
    background-color: #1abd17;
    left: 90%;
    width: 0;
    height: 0;
    height: 10px;
    bottom: -8px;
} */

.blog_posted_date{
    text-align: start;
    font-size: 1.2rem;
    color: var(--text-color);
}

.blog_posted_date::after{
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background-color: #04708e;
    border-radius: 1px;
    /* margin-top: 1px; */
}

.blog-link{
    padding: 3px 0px;
   color: var(--text-color);
   position: relative;
   width: auto;


}
.blog-link:hover{
    color: #0e4686;
}


.blog-link span {
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: width 0.2s ease;
  z-index: -1;
}

.blog-link:hover span {
  width: 95%;
}

.blog-link:hover span::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 97%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 24px;
  border-color: transparent transparent transparent var(--text-color);
  z-index: 1;
}


@media (max-width: 760px) {
    .blog-card-wrapper{
        width: 280px;
    }
}
@media (max-width: 616px) {
    .blog-card-wrapper{
        width: 240px;
    }
}
@media (max-width: 537px) {
    
    .blog-card-wrapper{
        width: 200px;
    }
}
@media (max-width:448px) {
    .blog-card-wrapper{
        width: 300px;
    }
}
@media (max-width: 375px) {
    .blog-card-wrapper{
        width: 260px;
    }
    .tags{
        gap: 1px;
        flex-wrap: wrap;
    }
    .tag{
        font-size: .8rem
    }
}

@media (max-width:260px) {
    .blog-card-wrapper{
        width: 95%;
    }
}



