.view-container{
    height: auto;
    justify-self: baseline;
    align-self: first baseline;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 100%;
    /* vertical-align: top; */
    height: auto;
    align-self: stretch;
    width: 70%;
    /* margin-top: 400px; */
    margin: auto;
    background-color:var(--bg-color);
    text-align: start;
    padding: 20px 30px;
    font-size: 20px;
    box-shadow: 7px 31px 70px 0px rgba(0,0,0,0.1);
}

.comments_section{
  margin-top: 40px;
  display: grid;
  grid-template-columns: minmax(1fr, 90%);
  row-gap: 13px;
  box-shadow: 2px 2px 4px rgba(#0d0d0d, 0.1);
}

.content-wrapper{
  padding: 20px auto;
  padding-bottom: 20px;
}

.comment_alert{
  text-align: start;
  color: var(--text-color);
}

code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }
    pre {
      background: #0d0d0d;
      color: #fff;
      font-family: "JetBrainsMono", monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
     
    }
    pre> code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    img {
      display: block;
      width: 85%;
      height: 85%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 0.5rem;
      object-fit: cover;
    }
    blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#0d0d0d, 0.1);
    }
    hr {
      border: none;
      border-top: 2px solid rgba(#0d0d0d, 0.1);
      margin: 2rem 0;
    }
 h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
      margin-top:10px;
      font-weight: 500;
      color: #333131;

    }
      h1,
    h2,
    h3{
      margin-top:20px;
      font-weight: 500;
      color: #333131;
    }

@media (max-width: 760px) {
    .view-container{
        width: 80%;
        padding: 12px 10px;
        text-overflow: clip;
        word-break: break-all;
    }
.comments_section{
  grid-template-columns: minmax(1fr, 90%);
}
}

.comment-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
    .view-container{
        width: 95%;
        padding: 7px 2px;
        text-overflow: clip;
        word-break: break-all;
    }
    .comments_section{
  grid-template-columns: minmax(1fr, 95%);
}
}
@media (max-width: 400px) {
    .view-container{
        width: 100%;
        padding: 7px 2px;
        text-overflow: clip;
        word-break: break-all;
    }
    .comments_section{
  grid-template-columns: minmax(1fr, 95%);
}
    
}