*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root, html {
  width: 100vw;
  height: 100vh;
  text-align: start;
}

#root{
  /* border: 1px solid crimson; */
  background-color: var(--container-bg);
  width: 100vw;
  width: 100dvw;
  /* background-color: #fff; */
}



.page-container{
  height: 100%;
  width: 100%;
 
}

a{
  text-decoration: none;
}
/* body{
  width: 100vw;
  height: 100dvh;
  height: 100vh;
  overflow: hidden;
  height: auto;
} */
::-webkit-scrollbar{
  width: 0px;
}
::-webkit-scrollbar-track{
  transition: background all .2s;
/* background: var(--form-bg); */
}

.App{
 height: 100vh;
    min-height: 100vh;
    /* width: 100vw !important; */
    background-color:var(--container-bg);
    /* background-color:#c9c7c7; */
}

.App{
       display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
    overflow-x: hidden;
    overflow-y: auto;
    
    /* background-color: #b61010; */
}

.App.admin, .App.editor, .App.user{
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 0px;
    justify-content: stretch;
    align-self: stretch;
    overflow-y: scroll;
   
}


.admin, .editor, .user{
  overflow-y: auto; 
  height: 100%; 
  display: block;
  width: 100vw;
  min-height: 100vh;
}

.app-sub-wrapper{
  display: flex;
  flex-grow: 0;
  width: 100%;
  height: 100%;
}

.app-sub-wrapper.admin, .app-sub-wrapper.user{
  height: 100vh;
display: block;
  width: min-content;
  max-width: auto;
  width: auto;
  display: block;

}




/* some shared styles here */

.blog-submit{
    position: relative;
    margin: auto;
    padding: 15px 30px;
   /* background-image: linear-gradient(to right, rgb(124, 83, 164) , rgb(102, 45, 159)); */
   background-color: #1261e0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: white !important;
   
    font-size: 1.4rem;
   margin-top: 30px;
   transform: scale(1);
}
.blog-submit:hover{
   /* background-image: linear-gradient(to right, rgb(42, 3, 81) , rgb(114, 7, 222)); */
   transform: scale(1.1);
   background-color: #1261e0;

}



#element_anchor{
    color: #0066ff;
    margin-left: 3px;
    width: max-content;
    padding: 3px 4px 4px 4px;
    border: 1px solid var(--text-color);
}




.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
